//-input subscription name???? send
//-сделать маску
//-title, state, type, name, placeholder, variant, Button{ } variantButton, symbolButton, typeButton, fcButton, value

include ../icon-button/icon-button
mixin text-field (options)
    -
        let inputClass = 'input';
        let variantInput = ['focused','subscription','mask']
        if (variantInput.includes(options.variant)) { inputClass+=` input__${options.variant}` }

    //- if title
    label.label-text-field
        .label__inner
            .label__title=options.title
            .label__state=options.state
        .input__inner    
            input(
                class=inputClass
                type=options.type
                name=options.name
                placeholder=options.placeholder
                value=options.value
                id=options.variant==="mask" ? "mask" : ""
            )
            if options.withButton
                button.text-field__button(type=options.typeButton, onclick=options.fcButton)
                    +icon-button({symbol:options.symbolButton, variant:options.variantButton}) 



