//-input subscription name???? send
//-сделать маску
//-, onclick=options.fcButton убрать
//-title, state, type, name, placeholder, variant, Button{ } variantButton, symbolButton, typeButton, fcButton, value
//- symbol:options.symbolButton, variant:options.variantButton - сделать дефолт

include ../icon-button/icon-button
mixin text-field (options)
    -
        let inputClass = 'input';
        let variantInput = ['focused','subscription','mask']
        if (variantInput.includes(options.variant)) { inputClass+=` input__${options.variant}` }

    //- if title
    label.label-text-field
        .label__inner
            .label__title=options.title
            .label__state=options.state
        .input__inner    
            input(
                class=inputClass
                type=options.type
                name=options.name
                placeholder=options.placeholder
                value=options.value
                id=options.id
            )
            if options.withButton
                button.text-field__button(type=options.typeButton)
                    +icon-button({symbol:options.symbolButton, variant:options.variantButton}) 



