//-text-field__button.text-fild__button_icon_arrow 
//-input subscription name????
//-сделать маску
//-вернуть for или вложить 
include ../label/label
mixin text-field ({title, state, type, name, placeholder, variant, withButton})
    -
        let inputClass = 'input';
        let variantInput = ['focused','subscription','mask']
        if (variantInput.includes(variant)) { inputClass+=` input__${variant}` }

    .text-field
        if state
            +label({title:title, state:state}) 
        input(
            class=inputClass
            type=type
            id=id
            name=name
            placeholder=placeholder
        )
        if withButton
            button.text-field__button(type='submit').text-fild__button_icon_arrow 



