//-if label 
//-text-field__button.text-fild__button_icon_arrow 
//-input subscription
//-массив с типами
//-сделать маску
include ../label/label
mixin text-field ({title, state, id, type, name, placeholder, mask, isFocus, withButton})
    -
        let inputBaseClass = 'input';
        if(isFocus) {
            inputBaseClass +=' input_focused';
        }
        if(withButton){
            inputBaseClass +=' .input__subscription';
        }

    .text-field
        +label({id:id, title:title, state:state}) 
        input(
            class=inputBaseClass
            type=type
            id=id
            name=name
            placeholder=placeholder
        )
        if withButton
            button.input__button(type='submit')



