//-заменить параметры просто на options?
include ../label/label
mixin text-field ({title, state, id, type, name, placeholder, isMask, isFocus, withButton})
    -
        let inputBaseClass = 'input__defoult';
        if(isFocus) {
            inputBaseClass +=' input__focus';
        }
        if(withButton){
            inputBaseClass +=' .input__subscription';
        }

    .text-field
        +label({for: name, title:title, state:state}) 
        input(
            class=inputBaseClass
            type=type
            id=id
            name=name
            placeholder=placeholder
    )
        if withButton
            button.input__button(type='submit')



