include ../icon-button/icon-button
mixin rate-button({state, rate}) 
    .rate-buttons(data-state=state, data-rate=rate)      
        each val in [1,2,3,4,5]
            .rate-button
                - let star = val <= rate ? "star" : "star_border"
                - let id = "star"+val
                input.rate__radio-input(type="radio" id=id name="rate" value=val)
                label.rate__label-input(for=id)
                    +icon-button({symbol:star, variant:"gradient", size:"m"})