
include ../icon-button/icon-button
mixin input ({variant, title, state, type, name, placeholder, value, id, readonly, symbolButton, variantButton, typeButton, withButton, colorPlaceholder="light"} )
    -
        let inputClass = 'input';
        let variantInput = ['focused','send','mask']
        let variantPlaceholder = ["dark", "light"]
        if (variantPlaceholder.includes(colorPlaceholder)) { 
            variant === "focused" ? inputClass+= "" : inputClass+=` input__placeholder_${colorPlaceholder}` 
        }
        if (variantInput.includes(variant)) { inputClass+=` input__${variant}` }

    label.label-input
        .label__inner
            .label__title=title
            .label__state=state
        .input__inner    
            input(
                class=inputClass
                type=type
                name=name
                placeholder=placeholder
                value=value
                id=id
                readonly= readonly === true 
            )
            if withButton
                button.input__button(type=typeButton)
                    +icon-button({symbol:symbolButton, variant:variantButton}) 



