//- symbol:options.symbolButton, variant:options.variantButton - сделать дефолт
include ../icon-button/icon-button
mixin input (options)
    -
        let inputClass = 'input';
        let variantInput = ['focused','send','mask']
        if (variantInput.includes(options.variant)) { inputClass+=` input__${options.variant}` }

    label.label-input
        .label__inner
            .label__title=options.title
            .label__state=options.state
        .input__inner    
            input(
                class=inputClass
                type=options.type
                name=options.name
                placeholder=options.placeholder
                value=options.value
                id=options.id
                readonly= options.readonly === true 
            )
            if options.withButton
                button.input__button(type=options.typeButton)
                    +icon-button({symbol:options.symbolButton, variant:options.variantButton}) 



