//-сделать маску
//-title, state, type, name, placeholder, variant, Button{ } variantButton, symbolButton, typeButton, value
//- symbol:options.symbolButton, variant:options.variantButton - сделать дефолт
//- options.readonly === true ? "readonly" : 0
include ../icon-button/icon-button
mixin input (options)
    -
        let inputClass = 'input';
        let variantInput = ['focused','send','mask']
        if (variantInput.includes(options.variant)) { inputClass+=` input__${options.variant}` }

    //- if title
    label.label-input
        .label__inner
            .label__title=options.title
            .label__state=options.state
        .input__inner    
            input(
                class=inputClass
                type=options.type
                name=options.name
                placeholder=options.placeholder
                value=options.value
                id=options.id
            )
            if options.withButton
                button.input__button(type=options.typeButton)
                    +icon-button({symbol:options.symbolButton, variant:options.variantButton}) 



