include ../icon-button/icon-button
mixin input ({variant, title, altTitle, type, name, placeholder, value, id, readonly, button, colorPlaceholder="light"})
    -
        let inputClass = 'input';
        let variantInput = ['focused','send','mask']
        let variantPlaceholder = ["dark", "light"]
        if (variantPlaceholder.includes(colorPlaceholder)) { 
            variant === "focused" ? inputClass+= "" : inputClass+=` input__placeholder_${colorPlaceholder}` 
        }
        if (variantInput.includes(variant)) { inputClass+=` input__${variant}` }

    label.label-input
        .label__inner
            .label__title=title
            .label__alt-title=altTitle
        .input__inner    
            input(
                class=inputClass
                type=type
                name=name
                placeholder=placeholder
                value=value
                id=id
                readonly= readonly === true 
            )
            if button
                button.input__button(type=button.typeButton)
                    +icon-button({symbol:button.symbolButton, variant:button.variantButton}) 



